
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

p {
  color: #8f8f8f;
}

/* COLOURS OF SECTIONS */

.coloured-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: #000;
}

/* HEADINGS */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.25;
}

.section-heading {
  font-size: 2.5rem;
  line-height: 1.25;
}

/* CONTAINERS */

.container-fluid {
  padding: 8% 10%;
}

/* TITLE SECTION */

#title .container-fluid {
  padding: 3% 10% 7%;
  text-align: left;
}

 /* navigation bar */

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

  /* buttons inside title section*/

.download-button{
  margin: 5% 8% 5% 0;
}

 /* dog/phone image */

.phone-img {
  transform: rotate(25deg);
  width: 18rem;
  position: absolute;
  right: 27%;
  /* explanation about the positioning and cropping of the phone image picture is in ipad. */
}

/* FEATURES SECTION */

#features {
  position: relative;
  z-index: 1;
}

.feature-column {
  padding: 3rem;
  line-height: 1.5rem;
}

.feature-icons {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icons:hover {
  color: #ff4c68;
}

/* TESTIMONIALS SECTION */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.25;
  padding: 0 6%;
}

.testimonial-image {
  width: 5rem;
  border-radius: 100%;
  margin: 1rem;
}

.carousel-item {
  padding: 4rem 7rem;
}

/* PRESS SECTION */

#press {
  background-color: #ef8172;
  padding-bottom: 3rem;
}

.press-logo {
  width: 10rem;
  margin: 3rem 3rem;
}

/* PRICING SECTION */

.price {
  font-size: 1.75rem;
  line-height: 1.25;
}
.pricing-column {
  padding: 3rem 1rem;
}

.breed-name {
  font-size: 1.5rem;
}

/* CTA SECTION */

.cta-download-button{
  margin: 5% 3% 5% 0;
}

/* FOOTER SECTION */

.footer-logo {
  color: #000;
  padding: 1.5% 1%;
}


@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .phone-img {
    position: static;
    transform: rotate(0);
  }
}
